<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test name="suite 1">
<classes>
<class name="basicAnnotation.BaseClass" />
</classes>

</test>

  <test thread-count="5" name="Module 1">
    <classes>
     <class name="basicAnnotationsM1.BaseModule1"/>
      <class name="basicAnnotationsM1.Scenario1"/>
      <class name="basicAnnotationsM1.Scenario2"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Module 2">
    <classes>
     <class name="basicAnnotationM2.BaseModule2"/>
      <class name="basicAnnotationM2.Scenario3"/>
      <class name="basicAnnotationM2.Scenario4"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Module 3">
    <classes>
     <class name="basicAnnotationM3.BaseModule3"/>
      <class name="basicAnnotationM3.Scenario5"/>
      <class name="basicAnnotationM3.Scenario6"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
